extends baseEmail

block content
  p Hola #{firstName},
  p Olvidaste tu contraseña?, haz clic en el siguiente enlace para crear una nueva: 
    #{url}
  p {La página web para esta acción aún no ha sido implementada}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Restablecer su contraseña
                  br
  p Si no olvidaste tu contraseña, por favor ignora este mensaje