footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natours logo')
    ul.footer__nav
        li: a(href='#') Sobre Nosotros
        li: a(href='#') Descarga la app
        li: a(href='#') Se un guía    
        li: a(href='#') Carreras
        li: a(href='#') Contactenos
    p.footer__copyright &copy; por Fabian Pinzon. Todos los derechos reservados