extends base

block content
    main.main
        .signup-login-form
            h2.heading-secondary.ma-bt-lg ¡Hola! Para seguir, ingresa tu e-mail y tu contraseña
            form.form.form--login
                .form__group
                    label.form__label(for='email') Email 
                    input#email.form__input(type='email', placeholder='tu@ejemplo.com', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Contraseña
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green Ingresa